<launch>
  <!-- Load simulation environment -->
  <arg name="model" default="$(find trial)/urdf/custom_rover.urdf"/>
  <arg name="x_pos" default="0.5"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="1.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find trial)/worlds/test_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />
</launch>
